.container--fixed {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.orderDrugsForm__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
}

.fieldset:not(fieldset:nth-child(4)){
  grid-column: 1/2;
}

.fieldset:nth-child(4){
  grid-column: 2/3;
  grid-row: 1/4;
}


